body {
    font-family: Rockwell, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#itemList {
    margin-top: 20px;
}